.DS_Store

# Editors
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environments
.env
.env.*

# Node
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/


